<div id="project" class="mt-16 md:mt-24">
  <h2 class="block md:hidden my-8 font-bold text-sm tracking-widest uppercase">Project</h2>
  <div class="group flex flex-col gap-4 md:gap-12">
    <article itemscope="">
      <a href="https://github.com/engineerhikaru/webparts" target="_blank" rel="noopener" class="flex items-center gap-4 md:gap-12 md:group-hover:opacity-50 md:hover:opacity-100-important transition group-2">
        <div class="p-4 md:p-8 rounded-full md:group-2-hover:scale-110 transition transform bg-black">
          <img class="max-w-full h-8 md:h-12 mx-auto" src="./images/desktop.svg">
        </div>
        <div class="flex-1 leading-tight">
          <h3 class="text-lg font-semibold">webparts</h3>
          <p class="mt-2 text-xs md:text-sm text-gray-500 font-bold tracking-widest">HTML, CSS, JavaScript, webpack, Sass</p>
        </div>
      </a>
    </article>
    <article itemscope="">
      <a href="javascript:void(0)" class="flex items-center gap-4 md:gap-12 md:group-hover:opacity-50 md:hover:opacity-100-important transition group-2">
        <div class="p-4 md:p-8 rounded-full md:group-2-hover:scale-110 transition transform bg-black">
          <img class="max-w-full h-8 md:h-12 mx-auto" src="./images/mobile-android.svg">
        </div>
        <div class="flex-1 leading-tight">
          <h3 class="text-lg font-semibold">Smado</h3>
          <p class="mt-2 text-xs md:text-sm text-gray-500 font-bold tracking-widest">Dart, Flutter</p>
        </div>
      </a>
    </article>
    <article itemscope="">
      <a href="http://yorimichibase.com" target="_blank" rel="noopener" class="flex items-center gap-4 md:gap-12 md:group-hover:opacity-50 md:hover:opacity-100-important transition group-2">
        <div class="p-4 md:p-8 rounded-full md:group-2-hover:scale-110 transition transform bg-black">
          <img class="max-w-full h-8 md:h-12 mx-auto" src="./images/desktop.svg">
        </div>
        <div class="flex-1 leading-tight">
          <h3 class="text-lg font-semibold">Coworking</h3>
          <p class="mt-2 text-xs md:text-sm text-gray-500 font-bold tracking-widest">HTML, CSS, JavaScript, WordPress</p>
        </div>
      </a>
    </article>
  </div>
</div>