<a href="javascript:void(0)" class="block bg-black p-8 md:group-hover:opacity-50 md:hover:opacity-100-important md:hover:scale-110 transition transform">
  <p class="text-xs font-bold tracking-widest uppercase text-gray-500"><%= title %></p>
  <span class="block mt-4 bg-gray-900 h-2 w-full">
    <span class="block h-2 bg-white <%= width %>"></span>
  </span>
</a>