<!DOCTYPE html>
<html lang="ja">
<head>
  <% include components/_head %>
  <title>ENGINEER HIKARU's Portfolio</title>
</head>
<body class="bg-black bg-noise text-white overflow-x-hidden">
  <div class="">
    <% include components/_index-left %>
    <% include components/_index-right %>
  </div>
</body>
</html>